.registerFormContainer {
  margin-top: 50%;
}
.formHeader {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 25px;
}
.submit {
  text-align: center;
  justify-self: center;
  margin-bottom: 10px;
}

.loginFormContainer {
  margin-top: 50%;
  width: 300px;
  font-weight: 400;
  align-items: start;
}

.loginFormHeader {
  font-weight: bold;
}

